body {
  background-color: #A2AEBB;
  color: #1d1d1d;
}

#container{
  position: relative;
  display: inline-block;
  left: 50%;
  font-size: large;
  transform: translate(-50%);
  margin-top: 3em;
  padding: 1em;
  border-radius: 3%;
  background-color: #3F88C5;
  text-align: center;
  overflow: hidden;
}

h2 {
  margin: 0 1em;
  font-weight: 500;
  font-family: cursive;
}
p{
  margin: 10px 0 0 0;
  font-family: cursive;
}
a{
  color: navy;
}
hr {
  margin: .9em 0;
}

#params{
  display: flex;
}
#logo{
  margin: 3px 0 0 10px;
}
table label {
  position: relative;
  float: right;
}

input{
  width: 4em;
  border-radius: 0.3em;
  background-color: #fff;
  text-align: right;
}

table input {
  margin-left: 1em;
}

#buttons button:nth-child(2){
  margin: 0 5%;
}
button {
  font-size: large;
  width: 27%;
  padding: 8px 0;
  border-radius: 8px;
  transition: .3s;
  color: #222222;
  background-color: #b6b6b6;
  border: none;
}
button:hover {
  background-color: #808080;
}

#sliderDiv {
  display: flex;
}

#sliderDiv > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: background-color .5s;
  background-color: #b6b6b6;
}
#sliderDiv > div:hover {
  background-color: #808080;
}
#sliderDiv label {
  display: block;
  padding-bottom: 3px;
  font-size: 14px;
}

#min_wrapper, #max_wrapper{
  padding: 10px;
}
#min_wrapper{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 5px;
}
#max_wrapper{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 5px;
}
#min, #max{
  width: 3em;
}
#slider {
  width: 100%;
  margin: 0 0 9px 0;
}

#defDiv {
  position: relative;
  flex-grow: 2;
  padding: 52px 28px 0 28px;
  border-left: solid 2px grey;
  border-right: solid 2px grey;
}
#defLabel{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 1px;
}

#def {
  width: 3em;
}

#nav_informer{
  display: none;
}
#nav_informer.active{
  display: block;
}

.icon_info{
  font-size: 11px;
}
.icon_link{
  text-decoration: none;
}
.icon_info img{
  position: relative;
  top: 5px;
  filter: grayscale(100%);
}
